CoffeeScript==1.0.8
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
PyExecJS==1.0.4
Werkzeug==0.9.4
distribute==0.6.34
gunicorn==18.0
itsdangerous==0.23
mpmath==0.18
pyjade==2.0.3
six==1.5.2
wsgiref==0.1.2
