!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport",
         content="width=device-width, initial-scale=1.0")
    title Salários
  body
    header
      h1 Salários

    .conteudo
      form
        .input-block
          .descr Data base:
          .input
            select#data(name="data")
              - for data in datas_base[::-1]
                option= data
        .input-row
          .descr Liquido mensal:
          .input
            input.bl#liquido(name="liquido")
        .input-row
          .descr Bruto mensal (INSS ainda a descontar):
          .input
            input.bl#bruto(name="bruto")
        .input-row
          .descr Bruto mensal (INSS já descontado):
          .input
            input.bl#bruto_sem_inss(name="bruto_sem_inss")

      pre#result

    footer
      .specs
        p
          | O conteúdo exibido por este sistema pode ser acessado pelo
          | webservice em
          i /calc
          |. Os parâmetros são todos opcionais, mas apenas
          | um entre os 3 últimos deve ser diferente de zero:
        ul
          li
            b data:
            | String com um dos valores exibidos como data base.
            | Valor padrão: {{datas_base[-1]}} (maior valor disponível)
          li
            b liquido:
            | Valor em reais do salário mensal líquido.
            | Valor padrão: R$ 0,00 (zero)
          li
            b bruto:
            | Valor em reais do salário mensal bruto, INSS ainda a descontar.
            | Valor padrão: R$ 0,00 (zero)
          li
            b bruto_sem_inss:
            | Valor em reais do salário mensal bruto, INSS já descontado.
            | Valor padrão: R$ 0,00 (zero)

      .copyright
        | 2014 (C) Criado por Danilo J. S. Bellini.

    script(type="text/javascript",
           src="{{url_for('static', filename='main.js')}}")
